 .u-section-1 {
  background-image: linear-gradient(#000410, #020b27);
}

.u-section-1 .u-sheet-1 {
  min-height: 926px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 216px;
  left: 179px;
  height: 388px;
  transform-origin: center top;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 500;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 102px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px 55px 0;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 189px auto 0 97px;
}

.u-section-1 .u-group-1 {
  width: 191px;
  height: 191px;
  --radius: 15px;
  background-image: linear-gradient(#e041ff, #020b27);
  margin: -92px 906px 0 43px;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 46px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-1 .u-group-2 {
  width: 191px;
  height: 191px;
  --radius: 15px;
  background-image: linear-gradient(#e041ff, #020b27);
  margin: -191px auto 0 618px;
}

.u-section-1 .u-container-layout-2 {
  padding: 3px 30px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 5px -15px 0;
}

.u-section-1 .u-group-3 {
  width: 191px;
  height: 191px;
  --radius: 15px;
  background-image: linear-gradient(#e041ff, #020b27);
  margin: -191px auto 0 330px;
}

.u-section-1 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 5px 11px 0;
}

.u-section-1 .u-group-4 {
  width: 191px;
  height: 191px;
  --radius: 15px;
  background-image: linear-gradient(#e041ff, #020b27);
  margin: -191px auto 60px 906px;
}

.u-section-1 .u-container-layout-4 {
  padding: 3px 30px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 5px 8px 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -370px -40px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 170px;
  height: 170px;
  margin: 57px auto 60px -37px;
}

.u-section-1 .u-image-3 {
  width: 112px;
  height: 112px;
  margin: -235px 22px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -345px 22px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    margin-left: 28px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-1 {
    margin-right: 749px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-left: 749px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-right: 529px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 529px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 529px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 349px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    margin-left: 349px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-4 {
    margin-left: 349px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-line-1 {
    top: 226px;
    left: auto;
    right: 167px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 37px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 6px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 126px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    width: 45px;
    height: 45px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    width: 65px;
    margin-top: 0;
  }

  .u-section-1 .u-group-2 {
    width: 128px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    width: 45px;
    height: 45px;
    margin-top: 13px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    width: 128px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    width: 45px;
    height: 45px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-4 {
    width: 128px;
    margin-top: 25px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-4 {
    width: 45px;
    height: 45px;
    margin-top: 13px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 112px;
    height: 112px;
    margin-top: -334px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-image-2 {
    width: 112px;
    height: 112px;
    margin-top: 120px;
    margin-bottom: 0;
    margin-left: 22px;
  }
} .u-section-2 {
  background-image: linear-gradient(#020b27, #000410);
}

.u-section-2 .u-sheet-1 {
  min-height: 1014px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 372px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-2 .u-image-1 {
  width: 489px;
  height: 489px;
  background-image: url("images/42.png");
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 282px;
  height: 282px;
  margin: 7px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-text-1 {
  margin: 0 36px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-style: normal;
  margin: 24px 46px 0 31px;
}

.u-section-2 .u-form-1 {
  height: 414px;
  width: 463px;
  margin: 31px auto 0;
}

.u-section-2 .u-label-1 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-2 .u-input-1 {
  background-image: none;
  --radius: 10px;
}

.u-section-2 .u-label-2 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-2 .u-input-2 {
  background-image: none;
  --radius: 10px;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-2 .u-input-3 {
  background-image: none;
  --radius: 10px;
}

.u-section-2 .u-label-4 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-2 .u-input-4 {
  background-image: none;
  --radius: 10px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  --radius: 10px;
  padding: 14px 0 15px;
}

.u-section-2 .u-image-3 {
  width: 205px;
  height: 51px;
  margin: 120px auto 0;
}

.u-section-2 .u-list-1 {
  width: 338px;
  height: auto;
  margin: 11px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  min-height: 98px;
  grid-gap: 5px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0 10px 1px;
}

.u-section-2 .u-icon-1 {
  width: 57px;
  height: 57px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 11px auto 0;
  padding: 11px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0 10px 1px;
}

.u-section-2 .u-icon-2 {
  width: 57px;
  height: 57px;
  transition-duration: 0.5s;
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 11px auto 0;
  padding: 11px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0 10px 1px;
}

.u-section-2 .u-icon-3 {
  width: 57px;
  height: 57px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 11px auto 0;
  padding: 11px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 536px;
  margin: 0 auto 24px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 418px;
    height: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-2 .u-image-1 {
    width: 308px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 360px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover .u-svg-link {
  fill: #478ac9 !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  color: #478ac9 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #ffffff !important;
  border-color: #ffffff !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover .u-svg-link {
  fill: #478ac9 !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  color: #478ac9 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #ffffff !important;
  border-color: #ffffff !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before,
.u-section-2 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover .u-svg-link {
  fill: #478ac9 !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  color: #478ac9 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #ffffff !important;
  border-color: #ffffff !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover .u-svg-link {
  fill: #478ac9 !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  color: #478ac9 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #ffffff !important;
  border-color: #ffffff !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover .u-svg-link {
  fill: #478ac9 !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  color: #478ac9 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #ffffff !important;
  border-color: #ffffff !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover .u-svg-link {
  fill: #478ac9 !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  color: #478ac9 !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #ffffff !important;
  border-color: #ffffff !important;
}