 .u-section-1 {
  background-image: none;
  min-height: 466px;
}

.u-section-1 .u-product-1 {
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  background-image: linear-gradient(to right, #0cc0df, black);
  left: 0;
  right: auto;
}

.u-section-1 .u-gallery-1 {
  width: 435px;
  height: 311px;
  margin: 50px auto 0 30px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 0 10px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 121px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
  padding: 8px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 11px;
  padding: 8px;
}

.u-section-1 .u-text-1 {
  margin: -299px 160px 0 495px;
}

.u-section-1 .u-product-price-1 {
  margin: 18px auto 0 495px;
}

.u-section-1 .u-text-2 {
  margin: 11px 149px 0 506px;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  background-image: linear-gradient(#e5e5e5, #4ec947);
  margin: 30px 479px 0 auto;
  padding: 10px 61px 10px 60px;
}

.u-section-1 .u-image-2 {
  width: 84px;
  height: 84px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 1;
  --animation-custom_in-rotate: 360deg;
  --animation-custom_in-scale: 1;
  margin: 71px 18px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 470px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -777px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 395px;
    margin-bottom: initial;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 395px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 49px;
    margin-left: 406px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 360px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 235px;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 235px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 235px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -763px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 55px;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 84px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 504px;
  }

  .u-section-1 .u-product-1 {
    min-height: 504px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 170px;
  }

  .u-section-1 .u-gallery-1 {
    width: 265px;
    height: 218px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -74px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 23px;
    margin-right: 11px;
  }
}